<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>492575920149-h8mmnfputrbudua73n1drkgeo6rc3o1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.492575920149-h8mmnfputrbudua73n1drkgeo6rc3o1b</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>492575920149-hag5cra442944g7mnfg6lt26n8i6p7m4.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBEcSjtOjN-VcO0c_CgQhCD6fj44S6aIAk</string>
	<key>GCM_SENDER_ID</key>
	<string>492575920149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.mekinaparking.watchman</string>
	<key>PROJECT_ID</key>
	<string>mekina-parking</string>
	<key>STORAGE_BUCKET</key>
	<string>mekina-parking.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:492575920149:ios:f6671b2b9fad2f271ebe1c</string>
	<key>DATABASE_URL</key>
	<string>https://mekina-parking-default-rtdb.firebaseio.com</string>
</dict>
</plist>